*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input,
button,
textarea {
    font-family: itherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

/*	Vendors	*/

.glider-contain {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.glider {
    margin: 0 auto;
    position: relative;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.glider-track {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    width: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
}

.glider.draggable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: -webkit-grab;
    cursor: grab;
}

.glider.draggable .glider-slide img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.glider.drag {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.glider-slide {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 100%;
}

.glider-slide img {
    max-width: 100%;
}

.glider::-webkit-scrollbar {
    opacity: 0;
    height: 0;
}

.glider-prev,
.glider-next {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    outline: none;
    background: none;
    padding: 0;
    z-index: 2;
    font-size: 40px;
    text-decoration: none;
    left: -23px;
    border: 0;
    top: 30%;
    cursor: pointer;
    color: #666;
    opacity: 1;
    line-height: 1;
    -webkit-transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    -o-transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.glider-prev:hover,
.glider-next:hover,
.glider-prev:focus,
.glider-next:focus {
    color: #a89cc8;
}

.glider-next {
    right: -23px;
    left: auto;
}

.glider-next.disabled,
.glider-prev.disabled {
    opacity: .25;
    color: #666;
    cursor: default;
}

.glider-slide {
    min-width: 150px;
}

.glider-hide {
    opacity: 0;
}

.glider-dots {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.glider-dot {
    border: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    display: block;
    cursor: pointer;
    color: #ccc;
    border-radius: 999px;
    background: #ccc;
    width: 12px;
    height: 12px;
    margin: 7px;
}

.glider-dot:hover,
.glider-dot:focus,
.glider-dot.active {
    background: #a89cc8;
}

html {
    font-size: 15px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.93rem;
    background-color: #222222;
    color: #fff;
}

img {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.lazy {
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/*	Blocks	*/

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1rem;
}

.header {
    padding: 1.86rem 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.header.sticky {
    padding: 1rem 0;
    background-color: #222222;
}

.header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo {
    position: relative;
    top: 2px;
    margin-right: auto;
    cursor: pointer;
}

.nav {
    display: inline-block;
}

.nav__link {
    margin-left: 4rem;
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.93rem;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-transition: 0.2s color ease;
    -o-transition: 0.2s color ease;
    transition: 0.2s color ease;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    color: #fff;
}

.menuToggle {
    display: none;
}

.btn__icon {
    position: relative;
    top: 2px;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    fill: #fff;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.btn {
    padding: 0.66rem 1.33rem;
    margin-right: 1.33rem;
    color: #fff;
    font-size: 0.93rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    background: #19B5FE;
    border: 2px solid #19B5FE;
    border-radius: 7px;
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease;
}

.btn:hover {
    color: #19B5FE;
    border: 2px solid #fff;
    background-color: #fff;
}

.btn:hover .btn__icon {
    fill: #19B5FE;
}

.btn--cta {
    padding: 0.8rem 2rem;
    margin-left: 2.66rem;
    margin-right: 0;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    background: none;
    border: 2px solid #fff;
}

.btn--more {
    padding: 0.66rem 1.33rem;
    margin-right: 0;
    background: none;
    border: 2px solid #fff;
}

.btn--large {
    padding: 0.8rem 8.5rem;
    margin: 0 auto 1.33rem auto;
}

.intro {
    padding-top: 6.66rem;
}

.intro__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.intro__content {
    width: 50%;
}

.intro__title {
    margin-bottom: 1.5rem;
    color: #fff;
    font-size: 3.2rem;
    font-weight: 700;
}

.intro__subtitle {
    margin-bottom: 1.5rem;
    color: rgba(255, 255, 255, 0.4);
    font-size: 1.86rem;
    font-weight: 400;
}

.intro__text {
    margin-bottom: 1.5rem;
    color: #fff;
    font-size: 0.93rem;
    line-height: 1.5;
}

.intro__price {
    margin-bottom: 1.5rem;
    color: #19B5FE;
    font-size: 1.6rem;
}

.intro__photo {
    width: 50%;
}

.intro__photo img {
    width: 100%;
    height: 100%;
}

.products {
    padding-top: 13.33rem;
}

.products__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.products__title {
    position: absolute;
    top: 0;
    z-index: -1;
    color: rgba(25, 181, 254, 0.15);
    font-size: 5.33rem;
    font-weight: 700;
    text-transform: uppercase;
}

.products__subtitle {
    margin-top: 3.86rem;
    color: #fff;
    font-size: 1.86rem;
    font-weight: 400;
}

.products__link {
    margin-top: 1rem;
    margin-bottom: 4rem;
    color: #19B5FE;
    font-size: 1rem;
    font-weight: 400;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.products__link:hover {
    color: #42c2fe;
}

.products__link:hover .link_arrow {
    stroke: #42c2fe;
}

.products__link .link_arrow {
    width: 24px;
    height: 24px;
    stroke: #19B5FE;
    margin-left: 2rem;
    position: relative;
    top: 8px;
}

.products__list {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.product__item {
    padding-top: 6rem;
    position: relative;
}

.product__item__content {
    width: 360px;
    height: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
}

.product__photo {
    width: 85%;
    height: 85%;
    position: absolute;
    top: 0;
}

.product__photo img {
    width: 100%;
    height: 100%;
}

.product__name {
    position: relative;
    bottom: 2rem;
    color: #fff;
    font-size: 1.33rem;
    font-weight: 800;
}

.services {
    padding-top: 13.33rem;
}

.services__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.services__title {
    position: absolute;
    top: 0;
    z-index: -1;
    color: rgba(25, 181, 254, 0.15);
    font-size: 5.33rem;
    font-weight: 700;
    text-transform: uppercase;
}

.services__subtitle {
    margin-top: 3.86rem;
    color: #fff;
    font-size: 1.86rem;
    font-weight: 400;
}

.services__link {
    margin-top: 1rem;
    margin-bottom: 4rem;
    color: #19B5FE;
    font-size: 1rem;
    font-weight: 400;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.services__link:hover {
    color: #42c2fe;
}

.services__link:hover .link_arrow {
    stroke: #42c2fe;
}

.services__link .link_arrow {
    width: 24px;
    height: 24px;
    stroke: #19B5FE;
    margin-left: 2rem;
    position: relative;
    top: 8px;
}

.services__list {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.service__item {
    width: 555px;
    margin-top: 2rem;
    padding: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
}

.service__photo {
    height: 100%;
    position: relative;
    bottom: 1.33rem;
    margin-right: 1.33rem;
}

.service__photo img {
    height: 100%;
}

.service__name {
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.46rem;
    font-weight: 400;
}

.service__desc {
    color: #fff;
    font-size: 0.93rem;
    font-weight: 400;
}

.members {
    padding-top: 13.33rem;
}

.members__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.members__title {
    position: absolute;
    top: 0;
    z-index: -1;
    color: rgba(25, 181, 254, 0.15);
    font-size: 5.33rem;
    font-weight: 700;
    text-transform: uppercase;
}

.members__subtitle {
    margin-top: 3.86rem;
    color: #fff;
    font-size: 1.86rem;
    font-weight: 400;
}

.members__link {
    margin-top: 1rem;
    margin-bottom: 4rem;
    color: #19B5FE;
    font-size: 1rem;
    font-weight: 400;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.members__link:hover {
    color: #42c2fe;
}

.members__link:hover .link_arrow {
    stroke: #42c2fe;
}

.members__link .link_arrow {
    width: 24px;
    height: 24px;
    stroke: #19B5FE;
    margin-left: 2rem;
    position: relative;
    top: 8px;
}

.glider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.member__item {
    padding: 1.33rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 0 0.66rem;
}

.member__logo {
    margin-bottom: 1.33rem;
}

.member__name {
    color: #fff;
    font-size: 0.93rem;
    font-weight: 400;
}

.glider-prev,
.glider-next {
    width: 44px;
    height: 44px;
    top: 40%;
}

.glider-prev.disabled,
.glider-next.disabled {
    opacity: .3;
}

.contacts {
    padding: 13.33rem 0;
}

.contacts__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.contacts__title {
    position: absolute;
    top: 0;
    z-index: -1;
    color: rgba(25, 181, 254, 0.15);
    font-size: 5.33rem;
    font-weight: 700;
    text-transform: uppercase;
}

.contacts__subtitle {
    margin-top: 3.86rem;
    color: #fff;
    font-size: 1.86rem;
    font-weight: 400;
}

.contacts__link {
    margin-top: 1rem;
    margin-bottom: 4rem;
    color: #19B5FE;
    font-size: 1rem;
    font-weight: 400;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.contacts__link:hover {
    color: #42c2fe;
}

.contacts__link:hover .link_arrow {
    stroke: #42c2fe;
}

.contacts__link .link_arrow {
    width: 24px;
    height: 24px;
    stroke: #19B5FE;
    margin-left: 2rem;
    position: relative;
    top: 8px;
}

.contacts__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.contacts__content {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contacts__logo {
    margin-right: auto;
}

.contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contact__list__name {
    margin-top: 2.66rem;
    color: #fff;
    font-size: 0.93rem;
    font-weight: 800;
}

.contact {
    margin-top: 1.33rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.contact:hover .contact__icon {
    stroke: #42c2fe;
}

.contact__icon {
    width: 24px;
    height: 24px;
    stroke: #19B5FE;
    margin-right: 0.53rem;
    position: relative;
    bottom: 3px;
}

.contact__name {
    color: #fff;
    font-size: 0.93rem;
    font-weight: 400;
}

.contact__social {
    margin-top: 1.33rem;
}

.social__icon {
    width: 24px;
    height: 24px;
    stroke: #19B5FE;
}

.social__icon:hover {
    stroke: #42c2fe;
}

.social__link:not(:last-child) {
    margin-right: 1.33rem;
}

.contacts__form {
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.form__prompt {
    margin-bottom: 1.33rem;
    color: #fff;
    font-size: 0.93rem;
    font-weight: 800;
}

.form__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.form__area {
    width: 48.6%;
    height: 52px;
    padding: 1rem 1.33rem;
    margin-bottom: 1.33rem;
    resize: none;
    overflow: auto;
    outline: none;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.93rem;
    font-weight: 400;
    font-family: inherit;
    line-height: 2;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.form__area:focus {
    border: 2px solid #19B5FE;
}

.form__area:invalid {
    border: 2px solid red;
}

.form__area--subject {
    width: 100%;
}

.form__area--message {
    width: 100%;
    height: 160px;
}

.footer {
    background-color: #111;
}

.footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__list {
    padding-top: 4rem;
    padding-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__item__name {
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.93rem;
    font-weight: 800;
    text-transform: uppercase;
}

.footer__link {
    margin-bottom: 1.66rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.93rem;
    font-weight: 400;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.footer__link:hover {
    color: #fff;
}

.footer__copyright {
    padding: 2rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.93rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.copyright__link {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.93rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.copyright__link:hover {
    color: #19B5FE;
}

@media (max-width: 1200px) {
    .nav__link {
        margin-left: 2rem;
    }

    .btn--cta {
        margin-left: 1.66rem;
    }

    .product__item__content {
        width: 300px;
        height: 216px;
    }

    .service__item {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .intro {
        padding-top: 13.33rem;
    }

    .intro__content {
        width: 70%;
    }

    .intro__photo {
        width: 30%;
    }
}

@media (max-width: 840px) {
    body.lock {
        overflow: hidden;
    }

    .nav {
        display: block;
        overflow: auto;
        padding: 1rem 1rem 5rem 1rem;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 57px;
        right: -100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #222222;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .nav.active {
        right: 0;
    }

    .nav__link {
        margin-left: 0;
        padding: 1.5rem;
        width: 100%;
        text-align: center;
    }

    .menuToggle {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        cursor: pointer;
    }

    .menuToggle span {
        position: absolute;
        left: 0;
        top: 9px;
        width: 100%;
        height: 2px;
        background-color: #fff;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .menuToggle::before,
  .menuToggle::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .menuToggle::before {
        top: 0;
    }

    .menuToggle::after {
        bottom: 0;
    }

    .menuToggle.active span {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    .menuToggle.active::before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 9px;
    }

    .menuToggle.active::after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .btn {
        padding: 1rem 1.6rem;
        width: 100%;
        margin-bottom: 1rem;
        margin-right: 0;
    }

    .btn--cta,
  .btn--large {
        margin: 0;
    }

    .intro__title {
        font-size: 2.2rem;
    }

    .intro__subtitle {
        font-size: 1.3rem;
    }

    .products {
        padding-top: 6.66rem;
    }

    .services {
        padding-top: 6.66rem;
    }

    .members {
        padding-top: 6.66rem;
    }

    .contacts {
        padding-top: 6.66rem;
    }

    .contacts__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .contacts__content {
        width: 100%;
    }

    .contacts__form {
        width: 100%;
    }

    .form__prompt {
        margin-top: 2.33rem;
    }
}

@media (max-width: 746px) {
    .products__title {
        font-size: 4.33rem;
    }

    .products__subtitle {
        margin-top: 3.2rem;
        font-size: 1.5rem;
    }

    .product__item:not(:first-child) {
        margin-top: 2rem;
    }

    .product__item__content {
        width: 360px;
        height: 260px;
    }

    .services__title {
        font-size: 4.33rem;
    }

    .services__subtitle {
        margin-top: 3.2rem;
        font-size: 1.5rem;
    }

    .members__title {
        font-size: 4.33rem;
    }

    .members__subtitle {
        margin-top: 3.2rem;
        font-size: 1.5rem;
    }

    .contacts__title {
        font-size: 4.33rem;
    }

    .contacts__subtitle {
        margin-top: 3.2rem;
        font-size: 1.5rem;
    }

    .footer__item {
        width: 50%;
    }

    .footer__item:not(:last-child) {
        margin-bottom: 1rem;
    }
}

@media (max-width: 36em) {
    .glider::-webkit-scrollbar {
        opacity: 1;
        -webkit-appearance: none;
        width: 7px;
        height: 3px;
    }

    .glider::-webkit-scrollbar-thumb {
        opacity: 1;
        border-radius: 99px;
        background-color: rgba(156, 156, 156, 0.25);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
        box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
    }
}

@media (max-width: 576px) {
    .intro__content {
        width: 100%;
    }

    .intro__title {
        font-size: 1.9rem;
    }

    .intro__photo {
        display: none;
    }

    .products__title {
        font-size: 4rem;
    }

    .products__subtitle {
        display: none;
    }

    .products__link {
        margin: 5rem 0;
    }

    .services__title {
        font-size: 4rem;
    }

    .services__subtitle {
        display: none;
    }

    .services__link {
        margin: 5rem 0;
    }

    .service__item {
        margin-top: 0;
    }

    .service__item:not(:first-child) {
        margin-top: 2rem;
    }

    .service__photo {
        height: 60%;
        bottom: 0;
    }

    .service__name {
        font-size: 1.2rem;
    }

    .members__title {
        font-size: 4rem;
    }

    .members__subtitle {
        display: none;
    }

    .members__link {
        margin: 5rem 0;
    }

    .contacts__title {
        font-size: 4rem;
    }

    .contacts__subtitle {
        display: none;
    }

    .contacts__link {
        margin: 5rem 0;
    }

    .form__area {
        width: 100%;
    }
}

@media (max-width: 430px) {
    .products__title {
        font-size: 3rem;
    }

    .products__link {
        margin: 4rem 0;
    }

    .product__item__content {
        width: 276px;
        height: 200px;
    }

    .services__title {
        font-size: 3rem;
    }

    .services__link {
        margin: 4rem 0;
    }

    .service__item {
        padding: 2rem;
        height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .service__photo {
        width: 60%;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .service__photo img {
        width: 100%;
        max-width: 280px;
    }

    .service__name {
        font-size: 1.36rem;
    }

    .members__title {
        font-size: 3rem;
    }

    .members__link {
        margin: 4rem 0;
    }

    .contacts__title {
        font-size: 3rem;
    }

    .contacts__link {
        margin: 4rem 0;
    }

    .footer__item {
        width: 100%;
    }
}