*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

input, button, textarea {font-family: itherit;}
input::-ms-clear {display: none;}
button {cursor: pointer; outline: none;}
button::-moz-focus-inner {padding: 0; border: 0}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}